<!-- FIXME: Hide this section when page loads -->
<div id="loader" style="display:none">
    <div class="spinner-container">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="spinner-gif">
        <img src="assets/images/loader.gif" alt="Cargando..." title="Cargando..." />
        <p>Cargando...</p>
    </div>
</div>